* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f6fa;
    padding: 20px;
}

/* Container */
.container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 95vh;
}

.section-auth-fetch {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 23vw;
}

/* All Sections Container */
.section-auth,
.section-fetch {
    border: 1px solid #ddd;
    padding: 16px;
    width: 100%;
}

.section-response {
    min-width: 74vw;
    max-width: 74vw;
    background: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 6px;
}

/* All Sections Title */
.auth-title,
.fetch-title,
.response-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

/* Credentials, login response and Serach div */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 45%;
}

/* date and select controls */
.fetch-form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

/* all input controls  */
.input-control {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* all button controls */
.btn-control {
    background: #00c03a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    font-weight: bold;
}

.btn-control:hover {
    background: #00de43;
}

/* Section 1 */
.auth-cradentials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 12px;
}

/* Section 2 */
.fetch-controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Row 2 for both search and date */
.row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

/* Response data container */
.api-response {
    min-height: 95%;
    max-height: 95%;
    border: 1px solid #ccc;
    overflow: auto;
    background: #fafafa;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    border: 1px solid black;
    font-size: 14px;
}

.data-table thead th {
    font-size: 16px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    white-space: nowrap;
    text-align: center;
    padding: 8px 12px;
}

.data-table th,
.data-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.data-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.data-table tbody tr:hover {
    background-color: #eeefef;
    cursor: pointer;
}